<template>
  <div class="row">
    <div class="col-lg-8">
      <post-list />
    </div>
    <div class="col-lg-4">
      <side-bar />
    </div>
  </div>
</template>

<script>
import PostList from "../components/PostList.vue";
import SideBar from "../components/SideBar.vue";
export default {
  components: { PostList, SideBar },
  name: "home-page",
};
</script>

<style></style>
