<template>
  <div class="row">
    <div class="col-lg-8">
      <div class="ass1-section__post-detail">
        <div class="ass1-section">
          <post-item />

          <!-- <post-feeling /> -->
          <div class="list-categories">
            <h5><strong>Danh mục: </strong></h5>
            <ul>
              <!-- <li
                v-for="item in getDataPostDetail.categories"
                v-bind:key="item.TAG_ID"
              >
                <router-link v-bind:to="getLinkCategory(item)">{{
                  item.tag_value
                }}</router-link>
              </li> -->
            </ul>
          </div>
        </div>

        <post-comment-add />
        <post-comments />
      </div>
    </div>
    <div class="col-lg-4">
      <side-bar />
    </div>
  </div>
</template>

<script>
import PostCommentAdd from "../components/PostCommentAdd.vue";
import PostComments from "../components/PostComments.vue";
import PostItem from "../components/PostItem.vue";
import SideBar from "../components/SideBar.vue";
export default {
  components: { PostItem, PostCommentAdd, PostComments, SideBar },
};
</script>

<style>
.ass1-section__post-detail {
  margin-top: 44px;
}
.ass1-section__post-detail .ass1-section .ass1-section {
  box-shadow: none;
  padding: 0;
  border-bottom: solid 1px #f3f3f3;
}
.list-categories {
  padding-bottom: 20px;
}
.list-categories ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.list-categories ul li {
  margin: 5px;
}
.list-categories ul li a {
  color: #333;
  font-size: 14px;
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 3px 10px;
  transition: all 0.3s ease;
}
.list-categories ul li a:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
/* .ass1-section__post-detail > .ass1-section {
        padding: 0;
    } */
</style>
