<template>
  <div>
    <user-page-info />
    <!-- <div
      v-if="listPostOfUser && listPostOfUser.length"
      v-masonry
      column-width=".grid-sizer"
      transition-duration="0.3s"
      item-selector=".ass1-section__item"
      class="ass1-section__wrap row ass1-section__isotope-init"
    >
      <div class="grid-sizer"></div>

      <post-item
        v-masonry-tile
        v-for="item in listPostOfUser"
        v-bind:key="item.PID"
        v-bind:post="item"
        class="col-lg-6"
      />
    </div> -->
  </div>
</template>

<script>
import UserPageInfo from "../components/UserPageInfo.vue";
export default {
  name: "user-page",
  components: { UserPageInfo },
};
</script>

<style></style>
