<template>
  <div class="ass1-login">
    <div class="ass1-login__content">
      <p>Profile</p>

      <div class="ass1-login__form">
        <div class="avatar">
          <img v-bind:src="getAvatar" alt="" />
        </div>
        <form action="#">
          <input
            type="text"
            class="form-control"
            placeholder="Tên ..."
            required=""
          />

          <select class="form-control">
            <option value="" disabled>Giới tính</option>
            <option value="nam">Nam</option>
            <option value="nu">Nữ</option>
          </select>

          <input
            type="file"
            name="avatar"
            placeholder="Ảnh đại diện"
            class="form-control"
          />

          <textarea
            class="form-control"
            cols="30"
            rows="5"
            placeholder="Mô tả ngắn ..."
          ></textarea>

          <div class="ass1-login__send justify-content-center">
            <button type="submit" class="ass1-btn">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "user-profile",
};
</script>

<style>
.avatar {
  border-radius: 50%;
  overflow: hidden;
}
</style>
