<template>
  <nav>
    <ul class="ass1-header__menu">
      <li>
        <a href="javascript:void(0)">Danh mục</a>
        <div class="ass1-header__nav" style="display: none">
          <div class="container">
            <ul>
              <li v-for="item in categories" v-bind:key="item.id">
                <router-link v-bind:to="getLinkCategory(item)">{{
                  item.text
                }}</router-link>
              </li>
            </ul>
          </div>
          <div class="ass1-header__menu-transition"></div>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "component-navigation",
  computed: {
    ...mapState({ categories: (state) => state.post.categories }),
  },
  methods: {
    ...mapActions({ getPostByCategory: "post/getPostByCategory" }),

    getLinkCategory(item) {
      return {
        name: "home-page",
        query: {
          text: item.text,
          id: item.id,
        },
      };
    },
  },
};
</script>

<style scoped>
.ass1-header__nav > .container ul {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.ass1-header__nav > .container ul li {
  width: 25%;
}

.ass1-header__nav > .container ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.ass1-header__nav > .container ul li:hover {
  color: blue;
}
.ass1-header__nav > .container ul li:first-child {
  margin-top: 8px;
}
</style>
