<template>
  <div class="ass1-header__search">
    <form action="#">
      <label>
        <input
          type="search"
          name="search-text"
          class="form-control"
          placeholder="Nhập từ khóa ..."
        />
        <i class="icon-Search"></i>
      </label>
    </form>
  </div>
</template>

<script>
export default {
  name: "component-header-search",
};
</script>

<style></style>
