<template>
  <div class="ass1-comments__section">
    <router-link class="ass1-comments__avatar ass1-avatar">
      <img alt=""
    /></router-link>
    <div class="ass1-comments__content">
      <router-link class="ass1-comments__name"> comment fullname </router-link>
      <span class="ass1-comments__passed">{{ formatTimeCmt }}</span>
      <p>comments</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "post-comment-item",
};
</script>

<style>
.ass1-comments__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
