<template>
  <div class="ass1-section__head">
    <router-link
      v-bind:to="{ name: 'user-page', params: { id: item.USERID } }"
      class="ass1-section__avatar ass1-avatar"
    >
      <img v-bind:src="getAvatar" alt="" />
    </router-link>
    <div>
      <router-link
        v-bind:to="{ name: 'user-page', params: { id: item.USERID } }"
        class="ass1-section__name"
        >{{ item.fullname }}</router-link
      >
      <!-- <router-link v-else v-bind:to="getUserLink" class="ass1-section__name">{{
        formatFullname
      }}</router-link> -->
      <span class="ass1-section__passed">{{ formatDate }}</span>
    </div>
    <router-link to="/" class="ass1-section__link ass1-btn-icon"
      ><i class="icon-Link"></i
    ></router-link>
  </div>
</template>

<script>
import avatar02 from "../assets/image/avatar-02.png";
import moment from "moment";
export default {
  data() {
    return {
      avatar02,
    };
  },
  name: "post-item-header",
  props: {
    item: {
      type: Object,
      default: null,
    },
  },
  computed: {
    getAvatar() {
      if (this.item.profilePicture) return this.item.profilePicture;
      return this.avatar02;
    },

    formatDate() {
      moment.locale("vi");
      return moment(this.item.time_added).fromNow();
    },
  },
};
</script>

<style>
.ass1-section__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ass1-section__name {
  text-transform: capitalize;
}
</style>
