<template>
  <div class="ass1-section__content">
    <p>{{ item.post_content }}</p>
    <!-- <p v-if="!querySearch">{{ formatPostContent }}</p>
        <p v-else v-html="formatPostContent"></p> -->
    <div class="ass1-section__image">
      <!-- <router-link to="/">
        <img src="" alt="" />
      </router-link> -->
      <router-link
        v-bind:to="{ name: 'post-detail', params: { id: item.PID } }"
      >
        <img v-bind:src="item.url_image" alt="" />
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: null,
    },
  },
};
</script>

<style>
.ass1-section__image img {
  width: 100%;
}
</style>
