<template>
  <div class="ass1-section__item" v-if="item">
    <div class="ass1-section">
      <post-item-header v-bind:item="item" />
      <post-item-content v-bind:item="item" />
      <PostItemFooter v-bind:item="item" />
    </div>
  </div>
</template>

<script>
import PostItemContent from "./PostItemContent.vue";
import PostItemHeader from "./PostItemHeader.vue";
import PostItemFooter from "./PostItemFooter.vue";
export default {
  components: { PostItemHeader, PostItemContent, PostItemFooter },
  name: "post-item",
  props: {
    item: {
      type: Object,
      default: null,
    },
  },
};
</script>

<style></style>
