<template>
  <div class="ass1-section__feeling">
    <div class="ass1-feeling">
      <a href="#" rel="tooltip" data-original-title="Happy"
        ><img v-bind:src="Happy" alt="" /><span>126</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Lol"
        ><img v-bind:src="LOL" alt="" /><span>256</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Surprised"
        ><img v-bind:src="Surprised" alt="" /><span>741</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Sad"
        ><img v-bind:src="Sad" alt="" /><span>2K</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Tongue Out"
        ><img v-bind:src="TongueOut" alt="" /><span>245</span></a
      >
      <a href="#" rel="tooltip" data-original-title="No words"
        ><img v-bind:src="NoWords" alt="" /><span>237</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Love"
        ><img v-bind:src="Love" alt="" /><span>1,236</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Blushing"
        ><img v-bind:src="Blushing" alt="" /><span>365</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Cool"
        ><img v-bind:src="Cool" alt="" /><span>412</span></a
      >
      <a href="#" rel="tooltip" data-original-title="Angry"
        ><img v-bind:src="Angry" alt="" /><span>478</span></a
      >
    </div>
  </div>
</template>

<script>
import Happy from "../assets/image/Happy.svg";
import LOL from "../assets/image/LOL.svg";
import Surprised from "../assets/image/Surprised.svg";
import Sad from "../assets/image/Sad.svg";
import TongueOut from "../assets/image/Tongue_Out.svg";
import NoWords from "../assets/image/No_words.svg";
import Love from "../assets/image/Love.svg";
import Blushing from "../assets/image/Blushing.svg";
import Cool from "../assets/image/Cool.svg";
import Angry from "../assets/image/Angry.svg";

export default {
  name: "post-feeling",
  data() {
    return {
      Happy,
      LOL,
      Surprised,
      Sad,
      TongueOut,
      NoWords,
      Love,
      Blushing,
      Cool,
      Angry,
    };
  },
};
</script>

<style></style>
