<template>
  <div class="ass1-section__list">
    <post-item
      v-for="item in getListPosts"
      v-bind:key="item.PID"
      v-bind:item="item"
    />

    <button class="load-more ass1-btn">
      <span>Xem thêm</span>
    </button>
    <!-- <h3 v-else>Danh sách rỗng</h3> -->
  </div>
</template>

<script>
import PostItem from "./PostItem.vue";
import { mapGetters } from "vuex";
export default {
  components: { PostItem },
  name: "post-list",
  computed: {
    ...mapGetters({ getListPosts: "post/getListPosts" }),
  },
};
</script>

<style></style>
