<template>
  <div class="ass1-add-comment">
    <form action="#">
      <!-- <input 
                v-model="comment"
                type="text"  placeholder="Thêm một bình luận"> -->
      <textarea
        class="form-control ttg-border-none"
        placeholder="Thêm một bình luận"
      ></textarea>
    </form>
    <div class="ass1-add-comment__content">
      <a href="#" class="ass1-add-comment__btn-save ass1-btn-icon"
        ><span>max length</span><i class="icon-Submit_Tick"></i
      ></a>
    </div>
  </div>
</template>

<script>
export default {
  name: "post-comment-add",
};
</script>

<style></style>
