<template>
  <aside class="ass1-aside">
    <div class="ass1-content-head__t">
      <div>Bài viết gần đây của bạn.</div>
    </div>
    <div>
      Vui lòng đăng nhập để xem nội dung này
      <router-link to="/login">Đăng nhập</router-link>
    </div>
    <div>
      <post-item />
    </div>
  </aside>
</template>

<script>
import PostItem from "./PostItem.vue";
export default {
  components: { PostItem },
  name: "side-bar",
};
</script>

<style></style>
