<template>
  <div class="ass1-head-user">
    <div class="ass1-head-user__content">
      <div class="ass1-head-user__image">
        <a href="#"><img src="" /></a>
      </div>
      <div class="ass1-head-user__info">
        <div class="ass1-head-user__info-head">
          <div class="ass1-head-user__name">
            <span>full name</span>
            <i
              ><img src="/dist/fonts/emotion/svg/Verified.svg" alt="Verified"
            /></i>
          </div>
          <div class="w-100"></div>
          <a href="#" class="ass1-head-user__btn-follow ass1-btn">Theo dõi</a>

          <!-- <template v-else>
            <router-link
              v-bind:to="{
                name: 'change-password',
                params: { id: userInfor.USERID },
              }"
              class="ass1-head-user__btn-follow ass1-btn"
              >Đổi mật khẩu</router-link
            >
            <router-link
              v-bind:to="{
                name: 'user-profile',
                params: { id: userInfor.USERID },
              }"
              class="ass1-head-user__btn-follow ass1-btn"
              >Profile</router-link
            >
          </template> -->
        </div>
        <div class="ass1-head-user__info-statistic">
          <div class="ass1-btn-icon">
            <i class="icon-Post"></i><span>Bài viết: </span>
          </div>
          <div class="ass1-btn-icon">
            <i class="icon-Followers"></i><span>Theo dõi: 0</span>
          </div>
          <div class="ass1-btn-icon">
            <i class="icon-Following"></i><span>Đang theo dõi: 0</span>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "user-page-info",
};
</script>

<style></style>
