<template>
  <div id="app">
    <component-header />
    <main>
      <div class="container">
        <router-view></router-view>
      </div>

      <component-footer></component-footer>
    </main>
  </div>
</template>

<script>
import ComponentFooter from "./components/ComponentFooter.vue";
import ComponentHeader from "./components/ComponentHeader.vue";

export default {
  name: "App",
  components: {
    ComponentHeader,
    ComponentFooter,
  },
  created() {
    this.$store.dispatch("post/getListPostPaging", {});
    this.$store.dispatch("post/getPostByCategory", {});
  },
};
</script>

<style>
@import url(./assets/css/style.css);
</style>
